<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <header class="sheet-header">
       <p>Hi world</p> 
    </header>
    <section class="sheet-body">
        <p>Suhp?</p>
    </section>
</form>